.header-wrapper{
  background-color: black;
  padding: 6px;
 .heading {
  padding-left: 50px;
  font-size: 20px;  
  color: #ffffff;  
}
.home-heading{
  color: #ffffff;
}
.menu-heading{
  color: #c4b6b6;
}
}

 
  
 
  
  
  