
<div class="header-wrapper">
<div fxLayout="row" fxLayoutAlign="center">
<div class="heading" fxFlex="70">Start Bootstrap</div>
<div fxFlex="30">
    <div fxLayout="row" fxLayoutGap="30px">
        <div class="home-heading" fxFlex="10">Home</div>
        <div class="menu-heading" fxFlex="10">About</div>
        <div class="menu-heading" fxFlex="10">Contact</div>
    </div>
</div>
</div>
</div>

   




<!-- <div class="header" 
     fxLayout
     fxFlexAlign="center"
>
    <div class="item item-1"
   >
      Start Bootstrap
    </div>
    <div class="item item-2"
    fxFlexAlign="center">
      Home
    </div>
    <div class="item item-3"
    fxFlexAlign="center">
      About
    </div>
    <div class="item item-4"
    fxFlexAlign="center">
        Contact
      </div>
  </div>
  -->
  